Package: com.shemeshapps.taptapnetflix
Name: TapTap To Skip
Depends: mobilesubstrate
Version: 0.0.4
Architecture: iphoneos-arm
Description: (Previously Tap Tap for Netflix) Enables double tap to skip +/- 10 seconds and force touch to play/pause on some popular video apps. Supported Apps: Netflix, Amazon Prime Video, Youtube, Crunchyroll, HBO Go (Partial Support). There are no settings to configure. Check it out on Github! https://github.com/eclair4151/TapTapToSkip
Maintainer: ShemeshApps
Author: ShemeshApps
Section: Tweaks
